<h1>Lists:</h1>
<% @lists.each do |list| %>
<%= link_to list.name, list %> <br>
<% end %>
<br>
<br>
<button><%= link_to "New List", new_list_path %></button>
<br>
<%= cl_image_tag("teklh6ha2vze8lgeowj5",
      width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("teklh6ha2vze8lgeowj5",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
