
<h1>List Name: <%= @list.name %></h1>
<h1>List Bookmarks:</h1>
<button>TODO: make button -> delete this bookmark from list</button>
<br>
<br>
<%= link_to "Back to all lists", lists_path %>
<br>
<br>
<button>TODO: make button -> add a bookmark to this list</button>
