<h1>add a movie and bookmark pair</h1>
<%# look for list bookmark path %>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
